body {
  font-family: Amasis MT Pro Medium;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #d16b86; /* Set a light pink background */
}

.card {
  background-color: #ffffff; /* White background */
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border: 3.5px solid #e91e63; /* Pink border */
}

.header h1 {
  color: #e91e63; /* Pink color for the header text */
  font-size: 24px;
  text-align: center;
}
.header h2 {
  color: #e91e63; /* Pink color for the header text */
  font-size: 24px;
  text-align: center;
}


.content p {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.footer {
  margin-top: 20px;
  text-align: center;
}

.footer p {
  font-size: 14px;
  margin: 5px 0;
}
